.staff-card {
  overflow: hidden;
}

.staff-card__media {
  display: grid;
  place-items: center;
}

.staff-card__avatar { 
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.staff-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.staff-card__title {
  letter-spacing: 1pt;
}