.avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;

  display: grid;
  place-items: center;
}

.avatar img {
  width: 100%;
  height: 100%;

  object-fit: fill;
}

.balance {
  font-size: larger;
}
