.terms {
  color: #f3e2b1;
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.terms:hover {
  font-weight: 700;
  letter-spacing: 0.2pt;
}

.text-underline {
  text-decoration: underline;
}
